* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    color: #131313;
    font-size: 1.4rem;
}

h2 {
    text-align: left;
    margin-left: 10px;
    color: #131313;
    font-size: 3rem;
}

h3 {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #131313;
    font-size: 1.5rem;
    border-bottom: #d8d8d8 1px solid;
}

.topbar {
    border: none;
    padding-left: 0;
}

.nav {
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    flex: 1;
    color: #010d50;
    font-size: 2rem;
    border-bottom: 1px solid #d8d8d8;
    padding: .5rem;
    padding-left: 1rem;
    text-align: center;
}

.nav-item.active {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    color: #4a5fd9;
    border-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-item.passed {
    color: #424242;
}

.form-control {
    border: 2px solid #131313;
    border-radius: 10px;
}

.btn-primary {
    background-color: #4a5fd9;
    border: none;
}
 
#colunaE {
    border-right: solid 2px #d8d8d8;
}

.opcaoCargo {
    width: 150px;
    height: 150px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-shadow: #d8d8d8 2px 0px;
    background-color: white;
    font-size: 1.2rem;
    margin: 3vh;
    color: #4a5fd9;
}  

.opcaoCargo:hover {
    box-shadow: #4a5fd9 2px 2px;
    border: 2px solid #4a5fd9;
    cursor: pointer;
}

.form-control:hover, .form-control:focus {
    box-shadow: #4a5fd9 2px 2px;
    border: 2px solid #4a5fd9;
    cursor: pointer;
}

.fa-file-text-o {
    font-size: 3.4rem;

}
.fa-graduation-cap {
    margin-top: 1rem;
    font-size: 3.4rem;
}

.fa-id-card {
    margin-top: 1rem;
    font-size: 3.4rem;
}

.arquivo {
    width: 300px;
    height: 300px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-shadow: #d8d8d8 2px 0px;
    background-color: white;
    font-size: 1.2rem;
    margin: 3vh auto;
    color: #4a5fd9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.documento {
    height: 150px;
    width: 200px;
    margin-top: auto;
}

.form-control[type="file"] {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4a5fd9;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.form-control[type="file"]:hover {
    border-color: #4a5fd9;
    box-shadow: 0 0 5px rgba(74, 95, 217, 0.5);
}