* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    color: #131313;
    font-size: 4rem;
}

h2 {
    text-align: left;
    margin-left: 10px;
    color: #131313;
    font-size: 3rem;
}

h3 {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #131313;
    font-size: 1.5rem;
    border-bottom: #d8d8d8 1px solid;
}

.topbar {
    border: none;
    padding-left: 0;
}

ul {
    border-bottom: 2px solid #d8d8d8;
}

.nav-link {

    color: #010d50;
    font-size: 2rem;
}

.nav-link.active {
    background-color: #ffffff;
    border: 2px solid #4a5fd9;
    color: #4a5fd9;
}

.form-control {
    border: 2px solid #131313;
    border-radius: 10px;
}

.btn-primary {
    background-color: #4a5fd9;
    border: none;
}
 
#colunaE {
    border-right: solid 2px #d8d8d8;
}

.opcaoCargo {
    width: 150px;
    height: 150px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-shadow: #d8d8d8 2px 0px;
    background-color: white;
    font-size: 1.2rem;
    margin: 3vh;
    color: #4a5fd9;
}  

#diploma {
    width: 150px;
    height: 150px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-shadow: #d8d8d8 2px 0px;
    background-color: white;
    font-size: 1.2rem;
    margin: 3vh;
    color: #4a5fd9;
    align-content: center;
    text-align: center;
}  


.opcaoCargo:hover {
    box-shadow: #4a5fd9 2px 2px;
    border: 2px solid #4a5fd9;
    cursor: pointer;
}

.form-control:hover, .form-control:focus {
    box-shadow: #4a5fd9 2px 2px;
    border: 2px solid #4a5fd9;
    cursor: pointer;
}

.fa-file-text-o {
    font-size: 3.4rem;

}
.fa-graduation-cap {
    font-size: 3.4rem;

}