* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    color: #131313;
    font-size: 1.5rem;
}

.topbar {
    background-color: #eaeaea;
    border: none;
    padding-left: 10vw;
}

.nav {
    gap: 0;
}

.nav-link {
    background-color: #eaeaea;
    border-bottom: none;
    border-radius: 0px;
    color: #010d50;
    font-size: 2rem;
}

.nav-link.active {
    background-color: #ffffff;
    color: #010d50;
    border-radius: 0px;
    border: none;
}

.form-control {
    border: 2px solid #131313;
    border-radius: 10px;
}

.btn-primary {
    background-color: #4a5fd9;
    border: none;
}
 
